<section>
<div class="container">
<div class="card text-center">
  <div class="card-header">
        <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Sigma alimentos - Ruteo Optimo</span>
    </nav>
  </div>
  <div class="card-body">
         <!-- primera fila para ver agendas recibidas y la agenda activa -->
         <div class="row m-4">
            <!-- aqui se muestran las agendas que nos ha enviado go-sharp -->
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-body">
                        <h3> Agendas Recibidas </h3>
                        <table class="table table-dark table-resposive">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary">Consumir API GO SHARP</button>
                    </div>
                </div>
            </div>
           <!-- aqui se muestra la agenda que se eligio para analizar -->
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3> Resultados Agenda Activa </h3>
                        <table class="table table-dark table-resposive">
                            <thead>
                                <tr>
                                <th scope="col">Sector</th>
                                <th scope="col">T.PDV</th>
                                <th scope="col">T. Traslado</th>
                                <th scope="col">T.Total</th>
                                <th scope="col">PDVs</th>
                                <th scope="col">Kms</th>
                                <th scope="col">Costo </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary">Analizar</button>
                        <button type="button" class="btn btn-success">Aceptar</button>
                        <button type="button" class="btn btn-danger">Rechazar</button>
                        
                    </div>
                </div>
            </div> 
        </div><!-- fin de primera fila -->

        <!-- segunda fila aqui se muestran los resultados de la agenda analizada -->
        <div class="row">
            <!-- Agenda cargada para analisis -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3> Agenda Activa </h3>
                        <!-- Agenda cargada para analisis -->
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>    
                       
                        
                    </div>
                </div> <!-- card -->
            </div> <!-- fin de col-md-12 -->
        </div><!-- fin segunda fila -->
 


  </div>
  <div class="card-footer text-muted">
     Sigma Alimentos - Ruteo Optimo - Versión 1.0.0
  </div>
</div>
</div> <!-- container -->
</section>
